name: Deploy to Azure

on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Azure ACR
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/krlangclass:${{ github.sha }} .
          docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/krlangclass:latest .
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/krlangclass:${{ github.sha }}
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/krlangclass:latest

      - name: Deploy to Azure App Service
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ secrets.AZURE_APP_SERVICE_NAME }}
          images: ${{ secrets.ACR_LOGIN_SERVER }}/krlangclass:${{ github.sha }}
